.tabela {
    padding: 10px;
    color: aliceblue;
}

.cabecalho-moda {
    background-color: #BB86FC;
}

.cabecalho-casa {
    background-color: #00C4B4;
}

.tabela-produto {
    background-color: #424250;
}